# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Local database
traffic.db

# Virtual environment
.venv/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# Uploaded / YOLO processed images
static/uploads/lane_*/*
static/yolo/lane_*/*
